
import(qtbase)
## import(qtgui)

useDynLib(qtutils, .registration = TRUE)

export(qfile.choose, qdir.choose, qgetColor,
       qgetDouble, qgetInteger, qgetText)

export(qexport, qhelp, qeditor, qselectedText, qrepl)

S3method(qselectedText, QTextEdit)

S3method(qexport, QWidget)
S3method(qexport, QGraphicsView)


export(qsetItem, qsetHeaderLabels)

export(qaddItem.QListWidget)

## S3method(qaddItem, QListWidget)

export(qdataview, qstr, qrecover, qbrowser)

S3method(qstr, default)
S3method(qstr, data.frame)
S3method(qstr, table)
S3method(qstr, matrix)
S3method(qstr, "function")
S3method(qstr, environment)
S3method(qstr, list)

S3method(qdataview, matrix)
S3method(qdataview, table)
S3method(qdataview, array)
S3method(qdataview, data.frame)

export(data.import, data.browse, qpager)

export(qsetCursorPosition)

## Procedure to add new wrapper functions:

##  (1) Add suitable file(s) in src/ and include in createProject.sh
##  (2) Register .Call-able entry points in src/init.c (make sure they
##      are declared inside extern "C" in both places).
##  (3) Add .Call wrappers in R/
##  (4) Add in NAMESPACE



