

useDynLib(qtconnect, .registration = TRUE)

export(qconnect, qdisconnect)

## Procedure to add new wrapper functions:

##  (1) Add suitable file(s) in src/ and include in createProject.sh
##  (2) Register .Call-able entry points in src/init.c (make sure they
##      are declared inside extern "C" in both places).
##  (3) Add .Call wrappers in R/
##  (4) Add in NAMESPACE



