
useDynLib(qtgui, .registration = TRUE)

import(qtbase)

export(print.QWidget, qclose, qheight, qparent, qprint,
       qresize, qsetContentsMargins, qsetMinimumSize, qsetExpanding,
       qsetParent, qshow, qisEnabled, qrender, qrenderGraphicsView,
       qrenderToPixmap, qrenderToSVG, qsetEnabled, qsetWindowTitle,
       qwindowTitle, qwidth, qlower, qraise, qupdate)

export(qtabWidget, qaddTab, qremoveTab,
       qstackedWidget, qaddWidgetToStack, qremoveWidgetFromStack,
       qcurrentIndex, qsetCurrentIndex)

export(qwidget, qpushButton, qlabel, qlineEdit, qtext, qsetText,
       qcheckBox, qisChecked, qsetChecked)

export(qlayout, qsetLayout, qsetSpacing, qsetVerticalSpacing,
       qsetHorizontalSpacing, qaddWidgetToLayout,
       qremoveWidgetFromLayout, qaddLayoutToLayout, qcolumnCount,
       qrowCount, qdim)


export(qgraphicsScene, qsceneRect, qsetSceneRect, qclear, qclearSelection, qsetItemIndexMethod,
       qscene.points, qscene.lines, qscene.segments, qscene.rect, qscene.text,
       qgraphicsView, qfitScene, qsetTransform, qsetDragMode, setAntialias)

S3method(print, QWidget)

S3method(qsceneRect, QGraphicsScene)
S3method(qsceneRect, QGraphicsView)
S3method(qsetSceneRect, QGraphicsScene)
S3method(qsetSceneRect, QGraphicsView)

S3method(qclear, QGraphicsScene)
S3method(qclearSelection, QGraphicsScene)
S3method(qsetTransform, QGraphicsView)


