
useDynLib(qtgui, .registration = TRUE)

import(qtbase)

## Common QWidget methods 

export(print.QWidget, qclose, qheight, qparent, qprint,
       qresize, qsetContentsMargins, qsetMinimumSize, qsetExpanding,
       qsetParent, qshow, qisEnabled, qsetEnabled, qsetWindowTitle,
       qwindowTitle, qwidth, qlower, qraise, qupdate)

## rendering to PDF/SVG/Pixmap

export(qrender, qrenderGraphicsView, qrenderToPixmap, qrenderToSVG)

export(qtabWidget, qaddTab, qremoveTab,
       qstackedWidget, qaddWidgetToStack, qremoveWidgetFromStack,
       qcurrentIndex, qsetCurrentIndex)

export(qwidget, qpushButton, qlabel, qlineEdit, qtext, qsetText,
       qcheckBox, qisChecked, qsetChecked)

## Layouts

export(qlayout, qsetLayout, qsetSpacing, qsetVerticalSpacing,
       qsetHorizontalSpacing, qaddWidgetToLayout,
       qremoveWidgetFromLayout, qaddLayoutToLayout, qcolumnCount,
       qrowCount, qdim)

## QActions

export(qaction, qaddAction, qsetContextMenuPolicy)
export(qsetDeleteOnClose)

## Graphics/View framework

export(qgraphicsScene, qsceneRect, "qsceneRect<-", qclear,
       qclearSelection, qsetItemIndexMethod, qsetParentItem,
       qsetZValue, qsetToolTip, qgraphicsProxyWidget, qfocus,
       "qmatrix<-", qgraphicsView, qfitScene, qsetTransform,
       qsetDragMode, qsetAntialias, qsetItemFlags,
       qsetTextItemInteraction, qaddItem, qboundingRect, qitems,
       qgeometry, "qgeometry<-", qmatrix, qcacheMode, "qcacheMode<-",
       qminimumSize, "qminimumSize<-", "qpos<-")

S3method(qsetToolTip, QGraphicsItem)

export(col2qcolor, qgpar, qgraphicsEllipseItem, qgraphicsLineItem)

export(qscene.points, qscene.lines, qscene.segments, qscene.rect,
       qscene.text)

export(qtextExtents)

S3method(qtextExtents, QFont)

S3method(print, QWidget)
S3method(qupdate, QWidget)

S3method(qsceneRect, QGraphicsScene)
S3method(qsceneRect, QGraphicsView)
S3method("qsceneRect<-", QGraphicsScene)
S3method("qsceneRect<-", QGraphicsView)

S3method(qupdate, QGraphicsView)
S3method(qupdate, QGraphicsScene)
S3method(qupdate, QGraphicsItem)

S3method(qaddItem, QGraphicsScene)

S3method(dim, QRectF)
S3method(dim, QGraphicsScene)
S3method(dim, QGraphicsItem)

S3method(qboundingRect, QGraphicsItem)

S3method(qitems, QGraphicsScene)

S3method(qmatrix, QGraphicsView)
S3method(qmatrix, QGraphicsView)

S3method("qmatrix<-", QGraphicsView)

S3method(qclear, QGraphicsScene)
S3method(qclearSelection, QGraphicsScene)
S3method(qsetTransform, QGraphicsView)


